<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBA0_gf02XyNGN8j6oZjtkq79qCTTNEPEI</string>
	<key>GCM_SENDER_ID</key>
	<string>191261911563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codenamegoon.duze</string>
	<key>PROJECT_ID</key>
	<string>duze-90301</string>
	<key>STORAGE_BUCKET</key>
	<string>duze-90301.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191261911563:ios:d2c9d38459d4d39fabf50e</string>
</dict>
</plist>